[Unit]
Description=LocalSend background file-sharing service
PartOf=hyprland-session.target
After=hyprland-session.target

[Service]
ExecStart=/usr/bin/localsend --hidden
Restart=on-failure
RestartSec=2

[Install]
WantedBy=hyprland-session.target
